body { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; width: 100%; }

/* --------------------- Statement ----------------------*/
.statement-section .container-fluid { padding: 0; }

.statement-section .container-fluid .image-div { max-height: 600px; height: 600px; color: white; }

.statement-section .container-fluid .image-div .image-extended { object-fit: cover; min-height: 600px; max-height: 600px; width: 100%; }

.statement-section .container-fluid .image-div .overlay { background-color: rgba(155, 155, 155, 0.8); opacity: 0.3; position: absolute; right: 0; top: 54px; width: 100%; height: 100%; }

.statement-section .container-fluid .image-div .image-text { position: absolute; margin: auto; text-align: center; top: 300px; width: 100%; }

.statement-section .container-fluid .image-div .image-text h1 { font-size: 3em; }

/* --------------------- Mission ----------------------*/
.mission-section, .consulting-section { padding-left: 70px; padding-right: 70px; padding-top: 120px; padding-bottom: 150px; }

.mission-section .container, .consulting-section .container { background-color: white; color: #777; line-height: 44px; }

.mission-section .container h3, .consulting-section .container h3 { line-height: 50px; font-weight: 300; }

.mission-section .container p, .consulting-section .container p { line-height: 44px; }

@media (max-width: 400px) { .mission-section .container p, .consulting-section .container p { line-height: 30px; } }

@media (max-width: 991px) { .mission-section, .consulting-section { padding-left: 40px; padding-right: 40px; } }

/* --------------------- Projects ----------------------*/
.projects-section .container-fluid { padding: 0; margin: 0; background-color: #f4f4f4; color: #777; width: 100%; max-width: 100%; }

.projects-section .container-fluid .row { padding: 0; margin: 0; }

.projects-section .container-fluid .col-extended { padding: 0; }

.projects-section .container-fluid .image-div { margin: 0; padding: 0; max-height: 700px; height: 700px; color: white; }

.projects-section .container-fluid .image-div .image-extended { padding: 0; margin: 0; border: 0; object-fit: cover; min-height: 700px; max-height: 700px; width: 100%; }

.projects-section .container-fluid .text { padding-left: 80px; padding-right: 80px; padding-top: 70px; }

.projects-section .container-fluid .text h3 { padding: 0; margin: 0; font-size: 32px; line-height: 44px; font-weight: 300; }

.projects-section .container-fluid .text p { margin: 0; padding: 0; font-size: 16px; line-height: 33px; }

@media (max-width: 1033px) { .projects-section .container-fluid .text { padding-left: 50px; padding-right: 50px; } }

@media (max-width: 991px) { .projects-section .container-fluid .text { margin-bottom: 30px; } }

/* --------------------- Team ----------------------*/
.team-section .container { margin-top: 150px; color: #777; text-align: center; }

.team-section .container .row { padding: 0; margin: 0; }

.team-section .container h2 { font-size: 32px; line-height: 44px; font-weight: 300; margin-bottom: 44px; }

.team-section .container .col-extended img { height: 200px; }

.team-section .container .col-extended .team-member-name { font-size: 28px; margin-bottom: 10px; }

.team-section .container .col-extended .team-member-title { font-size: 18px; font-weight: 600; margin-bottom: 30px; }

.team-section .container .col-extended .team-member-bio { text-align: center; line-height: 24px; font-size: 14px; }

.team-section .container .col-vik { margin-bottom: 100px; }

.team-section .container .col-member { height: 620px; }

@media (max-width: 991px) { .team-section .container .col-member { height: 500px; margin-bottom: 10px; } }

@media (max-width: 891px) { .team-section .container .col-member { height: 510px; } }

@media (max-width: 791px) { .team-section .container .col-member { height: 520px; } }

@media (max-width: 691px) { .team-section .container .col-member { height: 530px; } }

@media (max-width: 591px) { .team-section .container .col-member { height: 550px; } }

@media (max-width: 491px) { .team-section .container .col-member { height: 570px; } }

.contributors-section .container { color: #777; text-align: center; margin-top: 120px; }

.contributors-section .container h2 { font-size: 32px; line-height: 44px; font-weight: 300; margin-bottom: 44px; }

.contributors-section .container .col-extended { height: 740px; }

.contributors-section .container .col-extended img { height: 200px; }

.contributors-section .container .col-extended .team-member-name { font-size: 28px; margin-bottom: 10px; }

.contributors-section .container .col-extended .team-member-title { font-size: 18px; font-weight: 600; margin-bottom: 30px; }

.contributors-section .container .col-extended .team-member-bio { text-align: center; line-height: 24px; font-size: 14px; }

@media (max-width: 991px) { .contributors-section .container .col-extended { height: 550px; margin-bottom: 10px; } }

@media (max-width: 891px) { .contributors-section .container .col-extended { height: 600px; } }

@media (max-width: 791px) { .contributors-section .container .col-extended { height: 610px; } }

@media (max-width: 691px) { .contributors-section .container .col-extended { height: 630px; } }

@media (max-width: 591px) { .contributors-section .container .col-extended { height: 650px; } }

@media (max-width: 491px) { .contributors-section .container .col-extended { height: 670px; } }

.contact-section .entry { margin: auto; height: 100px; width: 500px; }

/* --------------------- Footer ----------------------*/
.footer { position: static; bottom: 0; width: 100%; /* Set the fixed height of the footer here */ height: 100px; line-height: 90px; /* Vertically center the text there */ background-color: #f5f5f5; color: rgba(0, 0, 0, 0.3); }

.footer .footer-text { margin: 0 auto; text-align: center; width: 300px; }

.footer img { height: 35px; color: rgba(0, 0, 0, 0.3); }

.footer a { color: rgba(0, 0, 0, 0.3); margin-left: 10px; margin-right: 5px; font-weight: 300; }
